html {
  background-image:url("bcepic.jpg.png");
  background-size: cover;
}

h2 {
  text-align: center;
}

.forms {
  text-align: center;
  font-weight: bold;
}

.center-box {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  margin-top: 3%;
  margin-bottom: auto;
  border: solid 3px black;
  border-radius: 10px;
  width: 700px;
  height: 650px;
  background-color: white;
  opacity: .8;
  padding-bottom: 15px;
}

input {
    margin: 8px 0;
    box-sizing: border-box;
    border: 1px solid black;
    align-items: center;
}
